@font-face {
    font-family: "Neue Haas Grotesk Text Pro";
    src: url(../assets/fonts/NHaasGroteskTXPro-55Rg.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Neue Haas Grotesk Text Pro";
    src: url(../assets/fonts/NHaasGroteskTXPro-65Md.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Neue Haas Grotesk Text Pro";
    src: url(../assets/fonts/NHaasGroteskTXPro-75Bd.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Dirtyline36Daysoftype2022';
    src: url('../assets/fonts/Dirtyline 36daysoftype 2022.woff') format('woff'),
         url('../assets/fonts/Dirtyline 36daysoftype 2022.woff2') format('woff2'),
         url('../assets/fonts/Dirtyline 36daysoftype 2022.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}