#gradient-canvas {
    position: absolute;
    width:100%;
    height:100%;
    z-index: -1;
    /* --gradient-color-1: #000000; 
    --gradient-color-2: #3f1d7b; 
    --gradient-color-3: #ff2cad;  
    --gradient-color-4: #8108eb; */
    
    /* --gradient-color-1: #000000; 
    --gradient-color-2: #212c8a; 
    --gradient-color-3: #9b324a;  
    --gradient-color-4: #6f37ca; */

    --gradient-color-1: #cdede3; 
    --gradient-color-2: #e0ab98; 
    --gradient-color-3: #e1eceb;  
    --gradient-color-4: #cbe4e1;

    /* --gradient-color-1: #c6c3bf; 
    --gradient-color-2: #dc4e57; 
    --gradient-color-3: #d2c2c0;  
    --gradient-color-4: #dc9599; */

    /* --gradient-color-1: #ceeee4; 
    --gradient-color-2: #0fb3af; 
    --gradient-color-3: #eef4eb;  
    --gradient-color-4: #cbe4e1; */
  }

#noise {
	position: absolute;
	opacity: 0.25;
	z-index: 100;
	pointer-events: none;
	user-select: none;
	mix-blend-mode: overlay;
}