@font-face {
    font-family: "NHaasGrotesk";
    src: url(../assets/fonts/NHaasGroteskDSStd-65Md.otf) format("opentype");
}

@font-face {
    font-family: "IBMPlexMono";
    src: url(../assets/fonts/IBMPlexMono-Regular.otf) format("opentype");
}