@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ::selection {
        background-color: $text-main;
        color: $background-light;
    }
}

body {
    color: $text-main;
    background-color: $background-light;
    // overflow: hidden;
    overflow-x: hidden;
    // font-family: "EverettMedium", Helvetica, sans-serif;
    font-family: Helvetica, sans-serif;
    // font-variation-settings: 'wght' 800;
}

a {
    text-decoration: none;
    color: $text-main;
}

.site-container {
    // overflow: hidden;
    margin: 0 15rem;
}