@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    ::selection {
        background-color: $text-main;
        color: $background-light;
    }
}

body {
    // overflow: hidden;
    overflow-x: hidden;
    font-family: "NHaasGrotesk", Helvetica, sans-serif;
    color: $text-main;
}

a {
    text-decoration: none;
    color: $text-main;
}

.site-container {
    // overflow: hidden;
    margin-left: 100px;
    margin-right: 100px;
}