* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: "NHaasGrotesk", Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
    color: #000;
}

.site-container {
    margin-left: 100px;
    margin-right: 100px;
}