.layout-main {
    // margin-top: 72px;
    margin-top: 108px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    .hero {
        grid-row-start: 1;
        grid-column-end: span 8;
        font-size: 108px;
    }

    .numbers {
        grid-row-start: 3;
        grid-column-end: span 1;
        font-size: 20px;
    }

    .links {
        margin-bottom: 16px;
        font-size: 48px;
        grid-row-start: 3;
        grid-column-start: 6;
        grid-column-end: span 3;
    }

    .name {
        font-size: 24px;
        grid-row-start: 4;
        grid-column-start: 8;
        grid-column-end: span 1;
        align-self: end;
        justify-self: end;
    }
}
