.section-nav {
    padding-top: 42px;
    font-size: 22px;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    
    .logo {
        grid-column-end: span 4;
        align-self: center;
        a {
            display: flex;
            align-items: center;
            .logo-icon {
                width: 32px;
                height: 32px;
            }
            .logo-text {
                font-size: 24px;
                margin-left: 8px;
            }
        }
        
    }

    .navigation {
        grid-column-end: span 3;
        align-self: center;
        display: flex;
        justify-content: flex-start;
        .nav-item {
            margin-right: 48px;
            a {
                text-decoration: none;
                color: #000;
                &:hover {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }
    }

    .contact {
        grid-column-end: span 1;
        align-self: center;
        justify-self: end;
    }
}