* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ::-moz-selection {
  background-color: #27302d;
  color: #effaf0;
}

* ::selection {
  background-color: #27302d;
  color: #effaf0;
}

body {
  overflow-x: hidden;
  font-family: "NHaasGrotesk", Helvetica, sans-serif;
  color: #27302d;
}

a {
  text-decoration: none;
  color: #27302d;
}

.site-container {
  margin-left: 100px;
  margin-right: 100px;
}

@font-face {
  font-family: "NHaasGrotesk";
  src: url(../assets/fonts/NHaasGroteskDSStd-65Md.otf) format("opentype");
}

@font-face {
  font-family: "IBMPlexMono";
  src: url(../assets/fonts/IBMPlexMono-Regular.otf) format("opentype");
}

#gradient-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* --gradient-color-1: #000000; 
    --gradient-color-2: #3f1d7b; 
    --gradient-color-3: #ff2cad;  
    --gradient-color-4: #8108eb; */
  /* --gradient-color-1: #000000; 
    --gradient-color-2: #212c8a; 
    --gradient-color-3: #9b324a;  
    --gradient-color-4: #6f37ca; */
  --gradient-color-1: #cdede3;
  --gradient-color-2: #e0ab98;
  --gradient-color-3: #e1eceb;
  --gradient-color-4: #cbe4e1;
  /* --gradient-color-1: #c6c3bf; 
    --gradient-color-2: #dc4e57; 
    --gradient-color-3: #d2c2c0;  
    --gradient-color-4: #dc9599; */
  /* --gradient-color-1: #ceeee4; 
    --gradient-color-2: #0fb3af; 
    --gradient-color-3: #eef4eb;  
    --gradient-color-4: #cbe4e1; */
}

#noise {
  position: fixed;
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  mix-blend-mode: overlay;
}

.section-nav {
  padding-top: 42px;
  padding-bottom: 42px;
  font-size: 22px;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;
  border-bottom: 1px solid #27302d;
}

.section-nav .logo {
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.section-nav .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-nav .logo a .logo-icon {
  width: 32px;
  height: 32px;
  -webkit-filter: invert(11%) sepia(6%) saturate(1629%) hue-rotate(109deg) brightness(97%) contrast(83%);
          filter: invert(11%) sepia(6%) saturate(1629%) hue-rotate(109deg) brightness(97%) contrast(83%);
}

.section-nav .logo a .logo-text {
  font-size: 24px;
  margin-left: 8px;
}

.section-nav .navigation {
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-nav .navigation .nav-item {
  margin-right: 48px;
}

.section-nav .navigation .nav-item a {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section-nav .navigation .nav-item:hover :after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.section-nav .navigation .nav-item :after {
  content: '';
  background-color: #27302d;
  display: block;
  top: 0px;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.section-nav .contact {
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.section-nav .contact a {
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
}

.section-nav .contact:hover :after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.section-nav .contact :after {
  content: '';
  background-color: #27302d;
  display: block;
  top: 0px;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.header {
  font-size: 220px;
  inline-size: 100%;
  white-space: nowrap;
  overflow: visible;
  -webkit-transform: translateX(-6%);
          transform: translateX(-6%);
  -webkit-animation: marquee 60s linear infinite;
          animation: marquee 60s linear infinite;
}

@-webkit-keyframes marquee {
  100% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
}

@keyframes marquee {
  100% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
}

.content-grid {
  margin-top: 400px;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
}

.number {
  -ms-grid-row: 1;
      grid-row-start: 1;
  font-size: 20px;
  margin-top: 2.5rem;
}

.name {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 4;
      grid-column-end: span 4;
  font-size: 150px;
}

.roles {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 7;
      grid-column-start: 7;
  -ms-grid-column-span: 6;
      grid-column-end: span 6;
  text-align: right;
  font-size: 36px;
  margin-top: 2rem;
}
/*# sourceMappingURL=about_style.css.map */